{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<section class="contact-info section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>OUR ADDRESS</h4>
          <address>
          Line Avenue 12 Street, D Block<br>
          NYC - New York<br>
          t: +90 2 2372 4217
          </address>
          <!-- end address -->
          <div id="map"></div>
          <!-- end map -->
          <h4>CONTACT FORM</h4>
          <form>
            <div class="form-group">
              <input type="text" placeholder="Name">
              <input type="text" placeholder="E-mail">
              <input type="text" placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="text" placeholder="About what ?" class="large-field">
            </div>
            <div class="form-group">
              <textarea placeholder="Your message"></textarea>
            </div>
            <div class="form-group">
              <button type="submit">SEND IT</button>
            </div>
          </form>
          <!-- end form --> 
        </div>
        <!-- end col-12 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 

<script src="/js/google-maps.js"></script> 
  {% endblock %}