{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block revslider %}<div class="int-header background-1 section-overlay" data-stellar-background-ratio="0.5">
      <div class="table">
        <div class="inner">
          <h1>CONTACT</h1>
          <h5>OUR STUDIO & CONTACT INFORMATION</h5>
        </div>
        <!-- end inner -->
      </div>
      <!-- end table -->
    </div>
    <!-- end int-header -->
    <nav>
      <div class="col-xs-12">
        <button type="button" class="toggle-menu menu-right push-body menu-button" data-toggle="collapse" data-target="#side-menu"> </button>
      </div>
      <!-- end col-12 -->
    </nav>
    <!-- end nav --> {% endblock %}
{% block body %}
<section class="contact-info section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>OUR ADDRESS</h4>
          <address>
          MNRA 42A,Cross Road 4
          Maveli Nagar,Pipeline Road,
          Ernakulam- 22
          </address>
          <!-- end address -->
          <div style="z-index:999" id="map"></div>
          <!-- end map -->
          <h4>CONTACT FORM</h4>
          <form>
            <div class="form-group">
              <input type="text" placeholder="Name">
              <input type="text" placeholder="E-mail">
              <input type="text" placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="text" placeholder="About what ?" class="large-field">
            </div>
            <div class="form-group">
              <textarea placeholder="Your message"></textarea>
            </div>
            <div class="form-group">
              <button type="submit">SEND IT</button>
            </div>
          </form>
          <!-- end form -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3bGQeFuK9OpOxvNM7nysYdMVesONqEv4"></script>

<script src="{{ '/js/google-maps.js'|asseturl }}"></script>
  {% endblock %}
