{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block revslider %}<div class="banner">
      <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
        <ul>
          <li data-transition="zoomout" data-slotamount="7" data-masterspeed="500"> <img src="{{ '/images/Slider_001.jpg'|asseturl }}" alt="Image">

          </li>
          <li data-transition="zoomout" data-slotamount="7" data-masterspeed="500"> <img src="{{ '/images/Slider_002.jpg'|asseturl }}" alt="Image">

          </li>
          <li data-transition="zoomout" data-slotamount="7" data-masterspeed="500"> <img src="{{ '/images/Slider_003.jpg'|asseturl }}" alt="Image">

          </li>
        </ul>
      </div>
      <!-- end rev_slider -->
    </div>

{% endblock %}
{% block body %}
<section class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="wow fadeInUp cd-headline clip is-full-width"><span>ABOUT US </span><br>
          </h2>
          <!-- end text-rotater -->
          <p class="wow fadeInUp" data-wow-delay="0.2s">{{ this.aboutus }}</p>
         </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end intro -->
  <section class="about-us">
    <div class="container">
      <div class="row no-margin"  data-stellar-background-ratio="0.5">
        <div class="col-sm-5 no-padding">
          <div class="left-side"> <img src="{{ '/images/logo-symbol.png'|asseturl }}" alt="Image">
            <h2>OPTIMUS IMAGING</h2>
            <h5>Photography . Events . Commercials</h5>
            <p></p>
          </div>
          <!-- end left-side -->
        </div>
        <!-- end col-6 -->
        <div class="col-sm-7 no-padding">
          <div class="right-side">&nbsp;</div>
        </div>
        <!-- end col-6 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end about-us -->

<section class="works section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>SHOWCASE</h2>
        <p></p>
      </div>
      <!-- end col-12 -->
      <div class="col-xs-12 spacing">
        <ul>
       {% set root = site.get('/portfolio') %}
           {% for page in root.children recursive %}
          <li >
             {% set image = page.attachments.images.first() %}
            <figure class="wow fadeInUp" data-wow-delay="0.2s"><img src="{% if image %}{{ image.thumbnail(363,363,True)|url }}{% endif %}" alt="Image">
              <figcaption class="thumb-overlay">
                <div class="table">
                  <div class="inner"><a href="{{page|url}}" target="_blank" >
                    <h3>{{page.title}}</h3>
                    <span></span>See concepts</a> </div>
                </div>
              </figcaption>
            </figure>
          </li>
         {% endfor %}
          <li >

            <figure class="wow fadeInUp" data-wow-delay="0.2s"><img width=363 height=auto src="{{'/images/video_banner.jpg'|asseturl }}" alt="Image">
              <figcaption class="thumb-overlay">
                <div class="table">
                  <div class="inner"><a href="https://www.youtube.com/channel/UCzlJHjCiVd4G-_Jb_zQ1lzQ" target="_blank" >
                    <h3>Videos</h3>
                    <span></span>See Our Works</a> </div>
                </div>
              </figcaption>
            </figure>
          </li>

          <!-- end work -->

          <!-- end work -->

          <!-- end work -->
        </ul>
        <!-- end ul -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>


  <!-- end our-team -->

  <!-- end prices -->

  <!-- end services -->

{% endblock %}
