{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block revslider %}
    <div style="background:url({{this.attachments.images.first()|url}});background-size: cover" class="int-header background-3 section-overlay" data-stellar-background-ratio="0.5">
      <div class="table">
        <div class="inner">
          <h1>{{this.title}}</h1>
          <h5>{{this.description}}</h5>
        </div>
        <!-- end inner --> 
      </div>
      <!-- end table --> 
    </div>
    <!-- end int-header -->
  
{% endblock %}

{% block body %}
  <!-- end header -->
  <section class="portfolio-grids-space section-padding text-center">
    <div class="row">
      <ul>
      	{% for image in this.attachments.images %}
       <li>
          <figure class="wow fadeInUp" data-wow-delay="0.2s"><a href="{{image|url}}" class="litebox"><img src="{{image.thumbnail(320)|url}}" alt="Image"></a></figure>
        </li>

        <!-- end work -->
        {% endfor %}
        <!-- end work -->
      </ul>
      <!-- end ul --> 
    </div>
    <!-- end row --> 
  </section>
  {% endblock %}